<div class="container-fluid">
    <div class="jumbotron">
        <h1>Use FavScraper to view all your favorited posts/article/tweets from around the web.</h1>
        <p>Create an account or login with social media and link up all your other accounts</p>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <a data-ui-sref="signup" class="btn btn-primary btn-lg btn-block">Sign Up</a>
        </div>
        <div class="col-md-6 text-center">
            <a data-ui-sref="login" class="btn btn-default btn-lg btn-block">Log In</a>
        </div>
    </div>
    <br>
    <fs-social-login></fs-social-login>
</div>