<div class="container">
    <div>
        <a data-ng-show="ctrl.redditLoginUrl" href="{{ctrl.redditLoginUrl}}">Reddit Login</a>
        <div>
            <a data-ng-click="ctrl.getCurrentUser()">Get Current User</a>
        </div>
        <div>
            <a data-ng-click="ctrl.getSavedPosts()">Get Saved Posts</a>
            <p data-ng-show="ctrl.loadingSavedPosts">
                Loading...
            </p>
            <div>
                <label>
                    <input type="radio" ng-model="ctrl.orderBy" value="">None
                </label>
                <label>
                    <input type="radio" ng-model="ctrl.orderBy" value="subreddit">SubReddit
                </label>
                <label>
                    <input type="radio" ng-model="ctrl.orderBy" value="domain"> Domain
                </label>
                <label>
                    <input type="radio" ng-model="ctrl.orderBy" value="title"> Title
                </label>
                <div>
                    {{ctrl.orderBy}}
                </div>
            </div>
            <p>{{filteredPosts.length}} of {{ctrl.savedPosts.length}} posts</p>
            <div class="row" data-ng-repeat="post in filteredPosts = (ctrl.savedPosts | orderBy: ctrl.orderBy)">
                <div class="col-sm-12">
                    <div class=" visible-lg visible-md pull-left container">
                        <img class="img-thumbnail" data-ng-if="post.thumbnail" src="{{post.thumbnail}}" alt="Thumbnail">
                        <img class="img-thumbnail" data-ng-if="!post.thumbnail || post.thumbnail === 'self'" src="http://placehold.it/140x140" alt="Thumbnail">
                    </div>
                    <div class="container">
                        <h3><a href="{{post.url}}" target="_blank">{{post.title}}</a>&nbsp;<small>({{post.domain}})</small></h3>
                        <div>
                            <em>r/{{post.subreddit}}</em>
                            <div class="pull-right">
                                author: <strong>{{post.author}}</strong>
                            </div>
                        </div>
                        <p data-ng-if="post.selftext">
                            {{post.selftext}}
                        </p>
                        <uib-accordion>
                            <uib-accordion-group heading="Raw Post">
                                <pre>{{post | json:4}}
                            </pre>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>