<div class="container">
    <div>
        <a data-ng-show="ctrl.redditLoginUrl" href="{{ctrl.redditLoginUrl}}">Reddit Login</a>
        <div>
            <a data-ng-click="ctrl.getCurrentUser()">Get Current User</a>
        </div>
        <div>
            <a data-ng-click="ctrl.getSavedPosts()">Get Saved Posts</a>
            <p data-ng-show="ctrl.loadingSavedPosts">
                Loading...
            </p>
            <div>
                <label>
                    <input type="radio" ng-model="ctrl.orderBy" value="">None
                </label>
                <label>
                    <input type="radio" ng-model="ctrl.orderBy" value="subreddit">SubReddit
                </label>
                <label>
                    <input type="radio" ng-model="ctrl.orderBy" value="domain"> Domain
                </label>
                <label>
                    <input type="radio" ng-model="ctrl.orderBy" value="title"> Title
                </label>
                <div>
                    {{ctrl.orderBy}}
                </div>
            </div>
            <p>{{filteredPosts.length}} of {{ctrl.savedPosts.length}} posts</p>
            <fs-reddit-post post="post" data-ng-repeat="post in filteredPosts = (ctrl.savedPosts | orderBy: ctrl.orderBy)"></fs-reddit-post>
        </div>
    </div>
</div>