<div class="container">
	<div><a class="btn btn-default" href="/login/twitter" fs-user-logged-in="false">Login with Twitter</a></div>
	<div>
		<a data-ng-click="ctrl.getFavorites()">Get Favorites</a>
	</div>
	<div>
		<a data-ng-click="ctrl.getTwitterRequestToken()">Get Request Token</a>
	</div>
	<div>
		<a data-ng-click="ctrl.getTwitterLoginUrl()">Get Twitter Login</a>
	</div>
	<div>
		<a data-ng-show="ctrl.twitterLoginUrl" href="{{ctrl.twitterLoginUrl}}">Twitter Login</a>
	</div>
	<p data-ng-show="ctrl.loadingFavorites">Loading...</p>
	<div class="panel panel-default" data-ng-repeat="tweet in ctrl.favorites">
		<div class="panel-body">
			<fs-tweet tweet="tweet"></fs-tweet>
		</div>
	</div>
</div>