<div class="container">
	<div>
		<a data-ng-click="ctrl.getFavorites()">Get Favorites</a>
	</div>
	<div>
		<a data-ng-click="ctrl.getTwitterRequestToken()">Get Request Token</a>
	</div>
	<div>
		<a data-ng-click="ctrl.getTwitterLoginUrl()">Get Twitter Login</a>
	</div>
	<div>
		<a data-ng-show="ctrl.twitterLoginUrl" href="{{ctrl.twitterLoginUrl}}">Twitter Login</a>
	</div>
	{{ctrl.loadingFavorites}}
	<p data-ng-show="ctrl.loadingFavorites">Loading...</p>
	<!--<table class="table">
		<tr data-ng-repeat="tweet in ctrl.favorites">
			<td>
				<fs-tweet tweet="tweet" ></fs-tweet>
			</td>
		</tr>
	</table>-->
	<div class="panel panel-default" data-ng-repeat="tweet in ctrl.favorites">
		<div class="panel-body">
			<fs-tweet tweet="tweet"></fs-tweet>
		</div>
	</div>
</div>