<fs-edit-user></fs-edit-user>
<!--<h2>Users</h2>
<div data-ng-repeat="user in ctrl.users track by user._id">
    <pre>
    {{user | json}}
    </pre>
    <a href="javascript:void(0)" class="btn btn-danger" data-ng-click="ctrl.delete(user._id)">Delete User</a>
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="javascript:void(0)" class="btn btn-danger btn-block" data-ng-click="ctrl.unlinkAccount(user._id, 'reddit')">
                    Remove Reddit Token
                </a>
        </div>
    </div>
    <div class="container panel panel-default" data-ng-repeat="token in user.tokens">
        <div class="row panel-body">
            <div class="col-sm-12 col-md-9">
                <pre>{{token | json}}
                    </pre>
            </div>
            <div class="col-sm-12 col-md-3">
                <a href="javascript:void(0)" class="btn btn-danger btn-block" data-ng-click="ctrl.unlinkAccount(user._id, token.kind)">
                    Remove {{token.kind|uppercase}} Token
                </a>
            </div>
        </div>
    </div>
    <hr>
</div>-->