@import "bootstrap/bootstrap";
@import "block-grid/block-grid";
@import "social-buttons/social-buttons";

// html {
//     background: url('../images/mail.jpg') no-repeat center center fixed;
// }

div.error-messages{
    div{
        background-color:$brand-danger;
        color: #fff;
        padding: 0.5rem;
    }
}

form.ng-submitted {
    input.ng-invalid{
        border: 1px solid $brand-danger;
    }
}

.reddit-thumbnail{
    float: left;
    font-size: 0;
    margin: 0;
    margin-right: 5px;
    margin-bottom: 2px;
    overflow: hidden;
    width: 70px;

    &.default {
        height: 50px;
        background-image: url(https://www.redditstatic.com/sprite-reddit.akRjeb2JalM.png);
        background-position: 0px -435px;
        background-repeat: no-repeat;
    }
}

.padding {
    padding: 1rem;
    
    &-sm {
     padding: 0.5rem;   
    }
}

html {
  position: relative;
  min-height: 100%;
}

$footer-height : 45px;

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:$footer-height;
    background-color: $navbar-default-bg;
    border-color: $navbar-default-border;
    
    .text-muted{
        margin:$footer-height/3 0;
    }
}

$reddit-header-font-sizes: (
  null  : $font-size-h4,
  $screen-sm-min : $font-size-h4,
  $screen-md-min : $font-size-h3,
  $screen-lg-min: $font-size-h3
);

$twitter-header-font-sizes: (
  null  : $font-size-h4,
  $screen-sm-min : $font-size-h4,
  $screen-md-min : $font-size-h3,
  $screen-lg-min: $font-size-h3
);

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}


.reddit-heading {
    @include font-size($reddit-header-font-sizes);
}

.twitter-heading{
    @include font-size($twitter-header-font-sizes);
    
    small {
        @media (max-width:$screen-sm-min){
            font-size:$font-size-h5;
            display:block;
        }
    }
}

.imgur-post {
    img {
        max-width:680px;
    }
}