@import "bootstrap/bootstrap";
@import "block-grid/block-grid";
@import "social-buttons/social-buttons";

div.error-messages{
    div{
        background-color:$brand-danger;
        color: #fff;
        padding: 0.5rem;
    }
}

form.ng-submitted {
    input.ng-invalid{
        border: 1px solid $brand-danger;
    }
}

.reddit-thumbnail{
    float: left;
    font-size: 0;
    margin: 0;
    margin-right: 5px;
    margin-bottom: 2px;
    overflow: hidden;
    width: 70px;

    &.default {
        height: 50px;
        background-image: url(https://www.redditstatic.com/sprite-reddit.akRjeb2JalM.png);
        background-position: 0px -435px;
        background-repeat: no-repeat;
    }
}

.padding {
    padding: 1rem;
    
    &-sm {
     padding: 0.5rem;   
    }
}