<!DOCTYPE html>
<html ng-app="favoriteScraper">

<head>
  <title>Favorite Scraper</title>
  <link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css">
  <!-- bower:css -->
  <!-- endbower -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/client/css/styles.css">
  <!-- endinject -->
</head>

<body>
  <div class="container-fluid">
    <div class="page-header">
      <h1>Favorite Scraper <small>all your favorites in one place</small></h1>
    </div>
  </div>
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation"><a ui-sref="home">Home</a></li>
      <li role="presentation"><a ui-sref="reddit">Reddit</a></li>
      <li role="presentation"><a ui-sref="medium">Medium</a></li>
      <li role="presentation"><a ui-sref="twitter">Twitter</a></li>
    </ul>
    <ui-view></ui-view>
  </div>
  <!-- bower:js -->
  <script src="/libs/angular/angular.js"></script>
  <script src="/libs/jquery/dist/jquery.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/libs/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/libs/lodash/lodash.js"></script>
  <script src="/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/libs/angular-sanitize/angular-sanitize.js"></script>
  <script src="/libs/moment/moment.js"></script>
  <script src="/libs/angular-moment/angular-moment.js"></script>
  <script src="/libs/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
  <!-- endbower -->
  <!-- inject:js -->
  <script src="/client/js/app.module.js"></script>
  <script src="/client/js/common/common.module.js"></script>
  <script src="/client/js/medium/medium.module.js"></script>
  <script src="/client/js/reddit/reddit.module.js"></script>
  <script src="/client/js/twitter/twitter.module.js"></script>
  <script src="/client/js/common/services/url.service.js"></script>
  <script src="/client/js/medium/controllers/medium.controller.js"></script>
  <script src="/client/js/medium/controllers/mediumAuth.controller.js"></script>
  <script src="/client/js/medium/services/medium.service.js"></script>
  <script src="/client/js/reddit/controllers/reddit.controller.js"></script>
  <script src="/client/js/reddit/controllers/redditAuth.controller.js"></script>
  <script src="/client/js/reddit/directives/redditPost.directive.js"></script>
  <script src="/client/js/reddit/services/reddit.service.js"></script>
  <script src="/client/js/twitter/controllers/twitter.controller.js"></script>
  <script src="/client/js/twitter/controllers/twitterAuth.controller.js"></script>
  <script src="/client/js/twitter/directives/tweet.directive.js"></script>
  <script src="/client/js/twitter/directives/tweetContent.directive.js"></script>
  <script src="/client/js/twitter/services/twitter.service.js"></script>
  <!-- endinject -->
</body>

</html>