<div class="container-fluid well">
    <div class="media">
        <div class="media-left">
            <a href="{{tweet.user.url}}" target="_blank">
                <img data-ng-src="{{tweet.user.profile_image_url_https}}" alt="Tweet Image" class="media-object img-rounded">
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">{{tweet.user.name}}&nbsp;<small><a href="{{tweet.user.url}}" target="_blank">@{{tweet.user.screen_name}}</a> <span am-time-ago="tweet.created_at"></span></small></h3>
            <div class="padding-sm">
                <fs-tweet-content text="{{::tweet.text}}" entities="::tweet.entities" extended-entities="::tweet.extendedEntities" show-pictures="false"></fs-tweet-content>
            </div>
        </div>
    </div>
    <!--<uib-accordion>
		<uib-accordion-group heading="Raw Tweet">
			<pre>
				{{tweet | json}}
			</pre>
		</uib-accordion-group>
	</uib-accordion>-->
</div>